body {
    /* padding: 5% 0; */
    padding: 0;
    margin: 0;
    height: 100vh;
    text-align: center;
    background: linear-gradient(225deg, #e66465, #6c73c0);
    /* background-size: 100%; */
    box-sizing: border-box;
    background-repeat: no-repeat;
    font-family: 'STIX Two Math', serif;
}

.wrapper {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
}


#quiz{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
    /* text-align: center;
    display: flex;
    flex-direction: column;
/*     justify-content: space-around; need more vertical space*/
    /* align-items: center; */
}

#quiz #question{
  background-color: salmon;
  border: 2px solid plum;
  border-radius: 10px;
    padding: 30px 20px;
} 

.settings,
.replay{
  background-color: salmon;
  border: 2px solid plum;
  border-radius: 5px;

  display: flex;
  justify-content: space-around;
  position: fixed;
  margin: 0 auto ;
  top: 25%;
  padding: 15px;
  z-index: 100;

  /* centering the settings and replay popup div */
  left: 50%;
    transform: translate(-50%, 0);
}

.overlay{
  position:fixed;
    z-index:100;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,.4)
}

.replay{
  padding: 35px 20px;
  display: flex;
  display: none;
  flex-wrap: wrap;
  min-width: 280px;
}

.replay h2{
  width: 100%;
}

.replay button{
  width: 125px;
}

.box,
button { 
  border-radius: 10px;
  padding: 30px 15px; 
  margin: 10px 0;
  /* margin: 20px 1%; */
  

  background-color: plum;
  border: 2px solid salmon;
  border-radius: 5px;
  /* width: 45%; */
}

.box{
  width: 45%;
}

.answerContainer{
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 665px) {
  
  .box{
    width: 100%;
  }
}

.wrong{
  background-color: rgba(255, 0, 0, 0.514);
}

.right{
  background-color: rgba(0, 255, 0, 0.651);

}